body {
    font-family: sans-serif;
    padding: 20px;
}

#password-screen, #main-screen {
    max-width: 500px;
    margin: auto;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

.gift-item {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.gift-code {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

