body {
    font-family: sans-serif;
    padding: 20px;
    background: #f3f3f3;
}

.hidden {
    display: none;
}

#password-screen,
#main-screen {
    max-width: 500px;
    margin: auto;
}

#list {
    margin-top: 20px;
}

.item {
    background: white;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.gift-code {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
